.message-icon {
  width: 72px;
  height: 72px;
  position: fixed;
  bottom: 25%;
  right: 10px;
  padding: 8px 10px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 100%;
  background-color: white;
  z-index: 999;
}

.message-icon:hover {
  border: 1px solid rgb(137, 137, 137);
}

.message-icon:active {
  border: 1px solid rgb(137, 137, 137);
  background-color: rgb(193, 192, 192);
}

.message-box {
  position: fixed;
  top: 5%;
  right: 90px;
  z-index: 999;
  box-shadow: 0px 0px 2px gray;
  height: 90%;
  width: 320px !important;
}

.btn-clear {
  position: absolute;
  top: 0;
  right: 0;
}
