.product__carousel--image {
    max-width: 100%;
    object-fit: contain;
    max-height: 500px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    display: none !important;
}

.react-rating .far.fa-star {
    color: #c9c9c9;
  }